.vscode
*/**/__pycache__
*/__pycache__
**/*/*.pth
*/*.pth
*.pth
log
*/**/*.log
*/*.log
*.log
*/**/*.pkl
*/*.pkl
*/**/checkpoints
*/**/lightning_logs
*/lightning_logs
lightning_logs
checkpoints
*/checkpoints
*/**/checkpoints
src/dataset/FeatureFiles/*
src/dataset/FeatureFilesForSort/*
src/model/sort/DIN
.vscode
Data/
tmp/
*/**/tmp
*/tmp
__pycache__
*/**/__pycache__
*/__pycache__
src/model/sort_bak
experiments/